// Tampilan Mobile Responsive width < 1440px
.container {
  // max-width: 500px;
  // padding: 1.5rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  // height: 500px;
  h2 {
    margin: 0 auto;
  }
  p {
    width: 90%;
  }
  .listPlan {
    margin: 0;

    // background-color: aquamarine;

    .plan {
      margin-bottom: 1rem;
      padding: 1rem 1rem 1rem 1rem;
      //   background-color: blanchedalmond;
      border: 1px hsl(229, 24%, 87%) solid;
      border-radius: 7px;
      display: flex;
      //   max-width: 95.5%;
      .icon {
        flex-basis: 45px;
      }
      .desc {
        padding: 0px 3px;
        flex-grow: 1;
        // padding: 0;
        h3 {
          margin: 0;
          font-size: 16px;
        }
        .price {
          display: block;
          color: gray;
          line-height: 1.5;
          font-size: 14px;
        }
        .free {
          display: block;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .active {
      border: 1px hsl(213, 96%, 18%) solid;
      background-color: hsl(230, 100%, 99%);
    }

    .plan:hover {
      background-color: hsl(230, 100%, 99%);
      cursor: pointer;
    }

    .combined-class {
      @extend .plan;
      @extend .active;
    }
  }

  .switch {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 7px;
    background-color: aliceblue;
    padding:0.5rem 0;
    // background-color:red;
  }

  .buttonStep {
    @include directionX;
    justify-content: space-between;
  }
}

.button{
  position: fixed;
  @include directionX;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  bottom: 0;
  right: 0;
  left: 0 ;
  padding:12px;
  background-color: white;
}

// Tampilan Desktop min-width 1440px
@include apply-at-xxl-size {
  .container {
    // min-width: 450px;
    // background-color: antiquewhite;
    // flex-direction: row;
    // width: max-content;
    // height: 100vh; 
    // margin: 0 0.5rem 0 0.5rem;
    // padding: 0;
    height: 100%;
    justify-content: space-between;
    p {
      width: 100%;
      font-size: 15px;
      color: gray;
      font-weight: 500;
      
      margin-top: 10px;
    }
    .listPlan {
      gap: 1px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
      justify-content: space-between;
      .plan {
        padding: 20px 10px 0 10px;
        // flex-grow: 1;
        flex-basis: 27%;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 10px;
      }
    }
    .button{
      position:relative;
      @include directionX;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
    }
    
  }
}

