.checkboxaddons{
    @include directionX;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 8px;
    border-radius: 0.5rem;
    border: 2px solid hsl(243, 100%, 62%);
    height: 65px;
    .addonsdesc{
        width: 50%;
    }
    .addonsdesc h4{
        margin-bottom: 0;
    }
    .addonsdesc p{
        font-size: small;
        margin-top: 0;
    }
    .checked{
        background-color: hsl(228, 100%, 84%);
    }
}
.checkboxaddons:checked{
    background-color: red;
}