.sidebar{
    max-width: 400px;
    padding: 50px;
    background-image: url('src/static/images/bg-sidebar-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}