.button {
  @include directionX;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  // margin-top: 1rem;
  bottom: 0;
  right: 0;
  left: 0 ;
  padding:12px;
  background-color: white;
}

@include apply-at-xxl-size {
  .button {
    @include directionX;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    position: relative;
  }
}
